<!doctype html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomeCapstone</title>
</head>
<body style="text-align:center">
    <div class="Fhome">
        <h1>Fixpeech</h1>
        <h3>아동 한국어 발음 교정</h3>
        <br>

        <a href="{% url 'capstoneMain' %}"
               class="btn btn-sm btn-outline-secondary">시작하기</a>

    </div>
</body>
</html>